.wy-side-nav-search {
background-color: #CC0000;
}
.wy-nav-top {
background-color: #CC0000;
}
.md-header {
background-color: #CC0000;
}
html .md-nav--primary .md-nav__title--site {
background-color: #CC0000;
}
.md-nav__source {
background-color: #A30000;
}